<% include partials/header %>
<% include partials/nav %>

<h2>Welcome</h2>
Dec 20, 2019
<p>Thanks for checking my portfolio.  Currently, I'm studying Computer Science at Oregon State University.  This website is intended primarily as a portfolio where I can present work I have done along with context. So far I have completed the following coursework:
<ul>
    <li>Intro to Computer Science I & II (C++)</li>
    <li>Data Structures (C++)</li>
    <li>Discrete Structures in Computer Science</li>
    <li>Computer Architecture and Assembly Language (x86)</li>
    <li>Web Development (HTML, CSS, JavaScript, Node.js, MySQL)</li>
</ul>

My Winter Quarter Schedule includes:

<ul>
    <li>Analysis of Algorithms</li>
    <li>Databases</li>
    <li>Cryptography</li>
</ul>
</p>

<p>In addition to my course work, I have also been building out projects both professionally and for personal use--often for my own curiosity.  I have built a handful of Arduino projects and have automated away my fair share of work using Python 3.x.  More recently, I have been digging into GoF Design Patterns, and implementation examples in C++ and Python. </p>

<p>By the time this page is live, many of these should be listed under 'Projects'.  At that time, this page is likely also to be dynamic as adding a blog-entry table to a database doesn't seem like a terribly difficult thing to do.  For now, I'm just building out the structure of the page using node.js and MySQL</p>

<% include partials/footer %>